---
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <main>
      <h4>
        ☠️ You're not suppoed to be here. It seems like you've followed a broken
        link.
      </h4>
      <a href="/">Go back to the home page</a>
    </main>
  </body>
</html>
